extends layout.pug 
block Content
    .tasksDone
        h2 Tasks completed
        .tasksList
            if tasks.length
                each task in tasks
                    p.taskItemCtd #{task.content}
                        span.buttons
                            a.btnDeleteCompleted(href=`/tasks/${task.id}/deletedone`) Delete
                            a.btnDone(href=`/tasks/${task.id}/uncomplete`) Undone
            else
                p There is no Tasks completed