extends layout
block Content 
    .updateForm
        if error 
            p.error Please fill the form to update it
        form(action = `/tasks/${id}/update`, method="post")
            .formElement
                input(type="text" name='task' value = `${task.content}` placeholder = "Update task...")
            button.btnUpdate Save