extends layout.pug
block Content
    .tasksContainer
        .addContainer
            if success 
                p.success Your task has been added successfully
            if error 
                p.error Please Fill the Form
            form.addForm(action="/tasks/add", method="POST")
                input.addInput(type="text" name = "task")
                button.btnAdd Add task
        .tasksDue
            h2 Tasks due
            .tasksList
                if tasks.length 
                    each task in tasks
                        p.taskItem #{task.content}
                            span.buttons
                                a.btnEdit(href=`/tasks/${task.id}/update`) Edit 
                                a.btnDelete(href=`/tasks/${task.id}/deleteundone`) Delete
                                a.btnDone(href=`/tasks/${task.id}/complete`) Complete
                else
                    p No Tasks available....
                
        