@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  top: 10%;
  width: 900px;
  height: auto;
  background-color: yellow;
  border: 2px solid black;
}
.nav-item {
  margin: auto;
  padding: 10px;
}
.nav-item:last-child {
  padding-right: 10%;
  border-right: none;
}
.nav-item {
  border-right: 2px solid #000;
  padding-right: 150px;
}
.nav-item a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}
.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7a6a6;
  width: 900px;
  margin-top: 100px;
  height: 30vh;
  border: 2px solid #000;
}
.introInfo {
  font-size: 2rem;
  color: #000;
  text-align: center;
}
.addContainer {
  margin-top: 20px;
  width: 900px;
}
.addInput {
  width: 700px;
  height: 40px;
  padding: 0 10px;
  border: 2px solid #000;
}
.btnAdd {
  padding: 5px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-left: 50px;
  border: 2px solid #000;
}
.taskItem,
.taskItemCtd {
  background-color: #babadc;
  display: flex;
  width: 900px;
  align-items: center;
  height: 50px;
  border: 2px solid #000;
  margin: 10px 0;
  padding: 0 5px 0 15px;
}
.buttons {
  margin: auto;
  margin-right: -1px;
}
.buttons a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #000;
  margin-left: 5px;
  color: #000;
  padding: 3px 8px;
}
.btnEdit {
  background-color: #ff0;
  font-size: 1.1rem;
}
.btnDelete,
.btnDeleteCompleted {
  background-color: #ff8282;
  font-size: 1.1rem;
}
.btnDone {
  background-color: #0f0;
}
.tasksDue h2,
.tasksDone h2 {
  margin: 20px 0 10px 0;
  font-size: 1.5rem;
}
.success,
.error {
  margin: 10px 0;
  font-weight: 600;
  text-align: center;
  font-size: 1.1rem;
  padding: 5px 0;
  border: 2px solid #000;
  color: #fff;
}
.success {
  background-color: #0f0;
  color: #000;
}
.error {
  background-color: #f00;
}
.updateForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #babadc;
  border: 2px solid #000;
  margin: 20px;
  align-items: center;
  text-align: center;
}
.updateForm p {
  width: 880px;
}
.formElement input {
  width: 880px;
  padding: 0 15px;
  height: 40px;
  border: 2px solid #000;
}
.btnUpdate {
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 2px solid #000;
}
